$background-color:#101010;
$toggle-background-color:#2e2d2d;
$toggle-after-checked:#00ff88;
$page1-heading-text-color:whitesmoke;
$container-border-color:#6f70732c;
$hyper-line-color:#6f707362;
$tools-color:#919191;
$hire-me-ul-color:wheat;
$link-social-link-color:white;
$social-links-ul:#6F7073;
$ending-greeting-color:#919191;
$skills-ul-color:#6F7073;


// page 2
// object Colors
$spinner-s: (
  "0": aqua,
  "10": blue,
  "20": rgb(168, 26, 156),
  "30":rgb(113, 223, 195),
  "40": rgb(13, 38, 66),
  "50": rgb(255, 38, 0),
  "60": rgb(231, 255, 15),
  "70": rgb(190, 113, 241),
  "80": rgb(27, 179, 218),
  "90": rgb(150, 21, 27),
  "100": rgb(75, 236, 169),

);

$red:red;
$sample-cursor:#919191;
$green:rgb(4, 223, 4);
$white:white;
$blue:rgb(0, 183, 255);
$spinner-line-color:aliceblue;
$spinner-line-bg:rgb(248, 242, 244);
$input-carter-color:rgb(32, 216, 185);
$input-text-color:rgb(255, 255, 255);
$caption-color:#ccc;