@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #101010;
}

body {
  background-color: #101010;
  cursor: default;
}

.switch {
  width: 22rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.site-visit {
  color: #6F7073;
  font-size: 12px;
  margin: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.site-visit p {
  margin: 0rem 0.3rem;
}

.visit-count-color {
  color: rgb(120, 229, 120);
}

#your-visit-count-color {
  color: rgb(120, 229, 120);
}

.switch-mode {
  color: white;
  width: 22rem;
  font-size: 8px;
  display: flex;
  margin: 0.3rem 0rem;
  justify-content: flex-end;
  margin-right: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hide the checkbox */
input[type=checkbox] {
  display: none;
}

/* Style the label */
.toggle-label {
  display: inline-block;
  width: 60px; /* Width of the toggle */
  height: 30px; /* Height of the toggle */
  background-color: #2e2d2d;
  border-radius: 15px; /* Border radius of the toggle */
  position: relative;
  cursor: pointer;
}

/* Style the code icon */
.toggle-label i {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: transparent;
}

/* Style the switch when toggled */
input:checked + .toggle-label {
  background-color: #00ff88;
}

/* Move the code icon when the switch is toggled */
input:checked + .toggle-label i {
  left: calc(100% - 25px);
}

/* Style the rounded circle */
.toggle-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
}

/* Transition effect */
.toggle-label,
.toggle-label i {
  transition: all 0.3s ease;
}

.text-white {
  color: whitesmoke;
}

.fire-gif {
  width: 25px;
  height: 25px;
}

.cat-gif {
  width: 25px;
  height: 25px;
}

#page1 h1 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#page1 p {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a[href] {
  color: whitesmoke;
}

.css-g0ck5htoggle {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: -moz-min-content;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 1rem 0rem;
}

/* Style the pages */
.page {
  display: none;
}

.page.active {
  display: block;
}

.css-g0ck5h {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: -moz-min-content;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 1rem 0rem;
}

.about {
  width: 25rem;
  text-wrap: wrap;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.service {
  margin-bottom: 1rem;
}

.img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(26, 26, 56) 23%, rgb(20, 39, 43) 100%);
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.img:hover {
  transform: scale(1.2);
}

.work-experience-section {
  margin: 1.5rem 0rem;
}

.experience-v1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 1rem 0rem;
  width: 25rem;
  border-radius: 1rem;
  border-width: 0.1px;
  padding: 1rem;
  border: 1px solid rgba(111, 112, 115, 0.1725490196);
}
.experience-v1 .work-title > .heading {
  display: flex;
  align-items: center;
}
.experience-v1 .work-title > .heading .logo img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.experience-v1 .work-title, .experience-v1 .work-year {
  margin-bottom: 3px;
}
.experience-v1 .work-description {
  margin-top: 1rem;
}
.experience-v1 .hyper-line {
  margin: 10px 0px;
  border-color: rgba(111, 112, 115, 0.3843137255);
}

hr {
  margin: 10px 0px;
  border-color: rgba(111, 112, 115, 0.3843137255);
}

.profile-name {
  width: 25rem;
  display: flex;
}
.profile-name .logo {
  margin-right: 1rem;
}

.about {
  margin: 3rem 0rem;
}
.about .title {
  margin: 0.5rem 0rem;
  font-size: 0.9rem;
}

.working {
  width: 25rem;
  margin: 2rem;
}
.working .title {
  margin: 1rem 0rem;
}

.experience {
  display: flex;
  margin: 2rem 0rem;
  justify-content: space-between;
}
.experience .description {
  max-width: 350px;
}
.experience .description .title {
  margin: 0.1rem 0rem 0.7rem 0rem;
}

.tools ul {
  display: flex;
}
.tools li {
  margin: 0.3rem 0.8rem;
  color: #919191;
  font-size: 10px;
}

.hire-me {
  margin: 2rem 0rem;
}
.hire-me .container {
  margin: 1rem 0rem;
  width: 25rem;
  border-radius: 1rem;
  border-width: 0.1px;
  padding: 1rem;
  border: 1px solid rgba(111, 112, 115, 0.1725490196);
}
.hire-me .container ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: circle;
  padding: 1rem;
  color: wheat;
}
.hire-me .container ul li > p {
  margin: 1px 0rem;
  font-size: 0.8rem;
}
.hire-me .container .work-together {
  margin: 1rem 0rem;
}
.hire-me .container .work-together p {
  font-size: 0.8rem;
}

.resume {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}
.resume .checkout {
  width: 15rem;
}
.resume .checkout p {
  font-size: 0.8rem;
}
.resume .download-button {
  font-size: 1.5em;
  text-align: center;
}

.contact {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 25rem;
  margin: 1rem;
}
.contact .container {
  margin: 0.5rem 0rem;
  width: 25rem;
  border-radius: 1rem;
  border-width: 0.1px;
  padding: 1rem;
  border: 1px solid rgba(111, 112, 115, 0.1725490196);
}

.pixel {
  margin: 1rem;
  text-align: center;
}
.pixel img {
  width: 4rem;
  height: 4rem;
}

.links .title {
  margin: 2rem 0rem;
}
.links .social-links {
  display: flex;
  margin: 1rem 0rem;
}
.links .social-links .name {
  margin-bottom: 1rem;
}
.links .social-links .link {
  display: block;
  position: relative;
  left: 2rem;
}
.links .social-links .link a {
  color: white;
  text-decoration: none;
}

.social-links ul {
  list-style-type: none;
  display: flex;
  color: #6F7073;
  justify-content: center;
}
.social-links li {
  margin: 0.5rem 0.8rem;
  font-size: 25px;
}

.side-projects {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 25rem;
  margin: 2rem;
}
.side-projects .container {
  margin: 1rem 0rem;
  width: 25rem;
  border-radius: 1rem;
  border-width: 0.1px;
  padding: 1rem;
  border: 1px solid rgba(111, 112, 115, 0.1725490196);
}
.side-projects .container .heading {
  display: flex;
}
.side-projects .container .heading .logo img {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.side-projects .container p {
  margin: 0.2rem 0rem;
}

.services {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 25rem;
  margin: 2rem;
}
.services .container {
  margin: 1rem 0rem;
  width: 25rem;
  border-radius: 1rem;
  border-width: 0.1px;
  padding: 1rem;
  border: 1px solid rgba(111, 112, 115, 0.1725490196);
}
.services .container .flex-container {
  display: flex;
  justify-content: space-around;
}
.services .container .flex-container .small-container {
  cursor: pointer;
  margin: 1rem 0rem;
  width: 10rem;
  border-radius: 1rem;
  border-width: 0.1px;
  padding: 1rem;
  border: 1px solid rgba(111, 112, 115, 0.1725490196);
}
.services .container .flex-container .small-container a[href] {
  text-decoration: none;
}
.services .container .flex-container .small-container span {
  font-size: 12px;
  margin: 1rem 0rem;
}
.services .container .flex-container .small-container .service-details {
  font-size: 10px;
}
.services .container p {
  margin: 0.2rem 0rem;
}

.ending-greetings {
  text-align: center;
  color: #919191;
  margin: 1rem 0rem;
}

.footer-ending {
  font-size: x-small;
}

.skills ul {
  list-style-type: none;
  display: flex;
  color: #6F7073;
}
.skills li {
  margin: 0.5rem 0.8rem;
  font-size: 25px;
}

.margin-1 {
  margin-bottom: 1rem;
}

/* page 2 */
#page2 {
  margin: 3rem 0rem;
  width: 50rem;
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes spinner-s {
  0% {
    background-color: aqua;
    transform: rotate(10deg);
  }
  10% {
    background-color: blue;
    transform: rotate(40deg);
  }
  20% {
    background-color: rgb(168, 26, 156);
    transform: rotate(70deg);
  }
  30% {
    background-color: rgb(113, 223, 195);
    transform: rotate(-70deg);
  }
  40% {
    background-color: rgb(13, 38, 66);
    transform: rotate(-20deg);
  }
  50% {
    background-color: rgb(255, 38, 0);
    transform: rotate(50deg);
  }
  60% {
    background-color: rgb(231, 255, 15);
    transform: rotate(90deg);
  }
  70% {
    background-color: rgb(190, 113, 241);
    transform: rotate(-50deg);
  }
  80% {
    background-color: rgb(27, 179, 218);
    transform: rotate(-90deg);
  }
  90% {
    background-color: rgb(150, 21, 27);
    transform: rotate(-30deg);
  }
  100% {
    background-color: rgb(75, 236, 169);
    transform: rotate(-10deg);
  }
}
@keyframes ascii-color {
  0% {
    color: aqua;
  }
  10% {
    color: rgb(30, 78, 78);
  }
  20% {
    color: rgba(0, 255, 136, 0.76);
  }
  30% {
    color: rgb(131, 1, 1);
  }
  40% {
    color: rgb(19, 147, 170);
  }
  50% {
    color: rgb(247, 200, 71);
  }
  60% {
    color: rgba(20, 194, 78, 0.651);
  }
  70% {
    color: rgb(93, 240, 93);
  }
  80% {
    color: rgb(32, 1, 18);
  }
  90% {
    color: rgb(190, 5, 113);
  }
  100% {
    color: blue;
  }
}
.red {
  color: red;
}

#linux-ui {
  margin: 1rem;
}

.sample-cursor {
  margin: 1rem;
  background-color: #919191;
}

#cursor_ui {
  font-size: 1rem;
  max-height: 40rem;
  min-height: 1rem;
}
#cursor_ui .green {
  color: rgb(4, 223, 4);
}
#cursor_ui .white {
  color: white;
}
#cursor_ui .blue {
  color: rgb(0, 183, 255);
}

pre {
  width: 10rem;
}

.accii {
  animation: ascii-color 2s infinite;
}

.commands {
  margin: 1rem;
  color: white;
}

.commands-heading {
  font-size: 1rem;
  font-weight: 1000;
}

.list {
  margin: 1rem 1rem;
  width: 25rem;
}

.comm {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 300;
}

.command-desc {
  color: aqua;
  width: 12rem;
}

#cursor_ui {
  max-height: 40rem;
  min-height: 1rem;
}

.red {
  color: red;
}

.joke {
  max-height: 10rem;
  width: 30rem;
  color: white;
}

.spinner-line {
  width: 1px;
  margin: 0rem 1rem;
  height: 1.4rem;
  padding: 1px;
  color: aliceblue;
  transform: rotate(10deg);
  background-color: rgb(248, 242, 244);
  animation: spinner-s 0.5s infinite;
}

.progressbarWrapper {
  height: 20px;
  width: 300px;
  max-width: 80%;
  display: block;
  background: transparent;
  padding: 3px;
  box-shadow: inset 0 -1px 1px transparent;
}

#greenBar {
  display: block;
  height: 100%;
  width: 0px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: white;
  transition: all 700ms ease;
}

.spinner {
  display: flex;
  display: none;
}

.sp {
  margin: 0 0.5rem;
  font-size: 1rem;
  color: rgb(239, 245, 245);
}

.linux-text {
  width: 10rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

input {
  caret-color: rgb(32, 216, 185);
}

input[type=text] {
  color: rgb(255, 255, 255);
}

.img-meme {
  cursor: pointer;
  width: 15rem;
  height: 10rem;
}

.files ul {
  display: flex;
}
.files li {
  margin: 0rem 1rem;
  list-style-type: none;
  color: rgb(152, 48, 218);
}

.heading {
  display: flex;
  align-items: center;
}
.heading .logo img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.linux_contacts ul {
  display: flex;
}
.linux_contacts li a[href] {
  text-decoration: none;
  margin: 0rem 1rem;
  list-style-type: none;
  color: rgb(119, 103, 212);
  cursor: pointer;
}
.linux_contacts li a[href]:hover {
  color: rgb(228, 217, 235);
  text-decoration: underline;
}

.linux_skills {
  width: 15rem;
}
.linux_skills .skill-tags {
  margin: 0.5rem 0rem;
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
}
.linux_skills .skill-tags .name {
  color: greenyellow;
}
.linux_skills .skill-tags .percentage {
  width: 4rem;
  align-items: flex-start;
}
.linux_skills .skill-tags .percentage .percent-bar {
  color: aqua;
}
.linux_skills .skill-tags .percentage .percent {
  color: green;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.sample-cursor {
  margin: 1rem;
  background-color: transparent;
}

.experience-projects {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-between;
}
.experience-projects .title a[href] {
  color: rgb(62, 64, 172);
  text-decoration: none;
}
.experience-projects .description {
  width: 30rem;
  color: rgb(214, 214, 214);
}

/* For mobile devices and tablets */
@media only screen and (max-width: 1023px) {
  .profile-name {
    width: 22rem;
    display: flex;
    justify-content: space-around;
  }
  .about {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 22rem;
    text-wrap: wrap;
    text-align: start;
  }
  .skills ul {
    list-style-type: none;
    display: flex;
    color: #6F7073;
  }
  .skills li {
    margin: 0.5rem 0.9rem;
    font-size: 25px;
  }
  .working {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 22rem;
    margin: 2rem;
  }
  .working .title {
    margin: 1rem 0rem;
  }
  .experience-v1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 1rem 0rem;
    width: 22rem;
    border-radius: 1rem;
    border-width: 0.1px;
    padding: 1rem;
    border: 1px solid rgba(111, 112, 115, 0.1725490196);
  }
  .experience-v1 .work-title > .heading {
    display: flex;
    align-items: center;
  }
  .experience-v1 .work-title > .heading .logo img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  .experience-v1 .work-title, .experience-v1 .work-year {
    margin-bottom: 3px;
  }
  .experience-v1 .work-description {
    margin-top: 1rem;
  }
  .experience-v1 .hyper-line {
    margin: 10px 0px;
    border-color: rgba(111, 112, 115, 0.3843137255);
  }
  .services {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 22rem;
    margin: 2rem;
  }
  .services .container {
    margin: 1rem 0rem;
    width: 22rem;
    border-radius: 1rem;
    border-width: 0.1px;
    padding: 1rem;
    border: 1px solid rgba(111, 112, 115, 0.1725490196);
  }
  .services .container .flex-container {
    display: flex;
    justify-content: space-around;
  }
  .services .container .flex-container .small-container {
    cursor: pointer;
    margin: 1rem 0rem;
    width: 9.5rem;
    border-radius: 1rem;
    border-width: 0.1px;
    padding: 1rem;
    border: 1px solid rgba(111, 112, 115, 0.1725490196);
  }
  .services .container .flex-container .small-container a[href] {
    text-decoration: none;
  }
  .services .container .flex-container .small-container span {
    font-size: 12px;
    margin: 1rem 0rem;
  }
  .services .container .flex-container .small-container .service-details {
    font-size: 10px;
  }
  .services .container p {
    margin: 0.2rem 0rem;
  }
  .side-projects {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 22rem;
    margin: 2rem;
  }
  .side-projects .container {
    margin: 1rem 0rem;
    width: 22rem;
    border-radius: 1rem;
    border-width: 0.1px;
    padding: 1rem;
    border: 1px solid rgba(111, 112, 115, 0.1725490196);
  }
  .side-projects .container .heading {
    display: flex;
  }
  .side-projects .container .heading .logo img {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }
  .side-projects .container p {
    margin: 0.2rem 0rem;
  }
  .hire-me {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 2rem 0rem;
  }
  .hire-me .container {
    margin: 1rem 0rem;
    width: 22rem;
    border-radius: 1rem;
    border-width: 0.1px;
    padding: 1rem;
    border: 1px solid rgba(111, 112, 115, 0.1725490196);
  }
  .hire-me .container ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: circle;
    padding: 1rem;
    color: wheat;
  }
  .hire-me .container ul li > p {
    margin: 1px 0rem;
    font-size: 0.8rem;
  }
  .hire-me .container .work-together {
    margin: 1rem 0rem;
  }
  .hire-me .container .work-together p {
    font-size: 0.8rem;
  }
  .resume {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: space-between;
  }
  .resume .checkout {
    width: 12rem;
  }
  .resume .checkout p {
    font-size: 0.8rem;
  }
  .resume .download-button {
    font-size: 1.5em;
    text-align: center;
  }
  .contact {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 22rem;
    margin: 1rem;
  }
  .contact .container {
    margin: 0.5rem;
    width: 22rem;
    border-radius: 1rem;
    border-width: 0.1px;
    padding: 1rem;
    border: 1px solid rgba(111, 112, 115, 0.1725490196);
  }
  .social-links ul {
    list-style-type: none;
    display: flex;
    color: #6F7073;
  }
  .social-links li {
    margin: 0.5rem 0.8rem;
    font-size: 25px;
  }
  .ending-greetings {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: #919191;
    margin: 1rem 0rem;
  }
  .footer-ending {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: x-small;
  }
}/*# sourceMappingURL=main.css.map */