@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
// https://abs.twimg.com/emoji/v2/72x72/1f525.png    
// https://github.com/Geeks-Vegeta/shreyas/blob/main/sass/fire.gif

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Open Sans', sans-serif;

}
body{
    background-color: black;
    cursor: url(https://github.com/Geeks-Vegeta/shreyas/blob/main/sass/fire.gif) 10 10, auto;

}

.text-white{
    color: whitesmoke;
}

.css-g0ck5h {
    padding-top: 115px;
    padding-bottom: 115px;
    max-width: 500px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
}

@keyframes example {
    0%   { transform: rotateX(0deg);}
    25%  { transform: rotateY(90deg)}
    50%  { transform: rotateX(0deg)}
    75%  {transform: rotateY(180deg)}
    100% {transform: rotateX(0deg)}
  }


.img{
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 50%;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}


.profile-name{
    display: grid;
    grid-template-columns: auto auto;
}

.profile-name:hover{
    cursor: url(./fire.gif) 2 2, pointer;

}

.about{
    margin: 3rem 0rem;
    .title{
        font-family: 'Open Sans', sans-serif;
        margin: 0.5rem 0rem;
        font-size: 0.9rem;
    }

}

.working{
    .title{
        margin: 3rem 0rem;
    }
}
.experience{
    display: flex;
    margin: 2rem 0rem;
    justify-content: space-between;
    .description{
        max-width: 350px;
        .title{
            margin: 0.1rem 0rem 0.7rem 0rem;
        }
    }

}

.tools{
    ul{
        display: flex;

    }
    li{
        margin:0.3rem 0.8rem;
        color: #919191;
    }
}


.side-projects{
    margin: 2rem 0rem;
}

.projects{
    margin: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    .description{
        max-width: 350px;
        .title{
            margin: 0.1rem 0rem 0.7rem 0rem;
        }

    }
}


.links{
    .title{
        margin: 2rem 0rem;
    }
    .social-links{
        display: flex;
        margin: 1rem 0rem;
        .name{
            margin-bottom: 1rem;
        }
        .link{
           display: block;
           position: relative;
           left: 6rem;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

.margin-1{
    margin-bottom: 1rem;
}